In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [20]:
df = pd.read_csv("Tempreture_1901_2016_Pakistan.csv")
df.head()

   Temperature   Year     Month
0      7.72768   1901   January
1      8.93600   1901  February
2     16.96320   1901     March
3     21.27410   1901     April
4     26.04970   1901       May

In [21]:
target = df.Temperature
target.head()

0     7.72768
1     8.93600
2    16.96320
3    21.27410
4    26.04970
Name: Temperature, dtype: float64

In [22]:
df.head()

   Temperature   Year     Month
0      7.72768   1901   January
1      8.93600   1901  February
2     16.96320   1901     March
3     21.27410   1901     April
4     26.04970   1901       May

In [30]:
dummies = pd.get_dummies(df['Month'],)

dummies.head()

,April,August,December,February,January,July,June,March,May,November,October,September
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0

In [41]:
merged=pd.concat([df, dummies ], axis="columns")
merged.head()

,Temperature,Year,Month,April,August,December,February,January,July,June,March,May,November,October,September
0,7.72768,1901,January,0,0,0,0,1,0,0,0,0,0,0,0
1,8.93600,1901,February,0,0,0,1,0,0,0,0,0,0,0,0
2,16.96320,1901,March,0,0,0,0,0,0,0,1,0,0,0,0
3,21.27410,1901,April,1,0,0,0,0,0,0,0,0,0,0,0
4,26.04970,1901,May,0,0,0,0,0,0,0,0,1,0,0,0

In [42]:
merged.drop(['Temperature','Month'],axis="columns",inplace=True)
X=merged
X.head()

,Year,April,August,December,February,January,July,June,March,May,November,October,September
0,1901,0,0,0,0,1,0,0,0,0,0,0,0
1,1901,0,0,0,1,0,0,0,0,0,0,0,0
2,1901,0,0,0,0,0,0,0,1,0,0,0,0
3,1901,1,0,0,0,0,0,0,0,0,0,0,0
4,1901,0,0,0,0,0,0,0,0,1,0,0,0

In [43]:
model = LinearRegression()

LinearRegression()

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X,target, test_size=0.2)

In [46]:
model.fit(X_train,y_train)

LinearRegression()

In [47]:
model.score(X_test, y_test)

0.9775651054819852

In [49]:
X_test.head()

,Year,April,August,December,February,January,July,June,March,May,November,October,September
92,1908,0,0,0,0,0,0,0,0,0,0,0,1
1300,2009,0,0,0,0,0,0,0,0,1,0,0,0
1106,1993,0,0,0,0,0,0,0,1,0,0,0,0
441,1937,0,0,0,0,0,0,0,0,0,0,1,0
1048,1988,0,0,0,0,0,0,0,0,1,0,0,0

In [48]:
model.predict(X_test)

array([24.91439344, 26.55848677, 16.24200346, 20.76785464, 26.39425234,
       10.59424319, 15.35253563, 14.75816342, 27.28969041, 21.00247526,
       15.27432876, 26.15181104, 16.09341041, 25.94847318, 25.08644855,
       28.04047637, 10.50499395, 26.11270761, 15.21176327, 15.85096911,
       15.60279762, 21.14324762, 15.64763125, 25.95629387, 25.25068298,
       15.6106183 , 28.63579434, 25.54786908,  8.53681011,  8.34129294,
       10.73179388,  8.74014797, 26.0579628 , 26.46463852,  8.47424461,
       10.68486975, 25.58697252, 15.20394258, 25.20375886, 16.14033453,
       21.06504075, 26.61323158,  8.71668591, 25.21157954, 28.97437698,
       25.00042099, 21.66801357, 10.35962258, 15.66327262,  8.44296187,
       15.37599769, 16.26546552, 16.04648629, 28.70065293, 21.12838617,
       27.39918003, 21.46467571, 25.26632435, 25.74513532, 25.97975593,
       26.01885937, 27.64944202, 15.32907357, 10.67245006, 24.95349687,
       21.31608266, 21.80878594, 26.25347998, 25.71210351,  8.91220309,
       15.77276224, 10.31729747, 15.01624609, 20.64272365, 25.37581397,
       10.30487777, 24.93003481, 25.74338626, 25.86244562, 21.13542693,
       27.80585576, 15.7962243 , 28.8391322 , 28.01701431, 28.64361503,
        8.88092034, 25.32106916, 20.79131671, 21.44121365, 10.02011136,
       29.0213011 , 25.10991061, 20.79913739, 28.46603232, 28.83360461,
       21.158889  , 10.2938354 , 10.41436739, 10.57860182, 10.47371121,
       15.71019675, 15.76494156, 26.55066608, 16.30456896, 21.34658548,
       21.25351716, 24.96913825, 20.58797884, 28.66937018, 21.22223441,
       15.80404499, 15.46984594, 27.46174553,  8.31783087, 10.46129151,
       21.26133785, 28.75539774, 25.63389664, 20.89298564, 27.75893163,
       28.09522118, 15.86661049, 29.31066652, 28.63808744, 20.70528915,
       10.1641054 , 29.24810102, 26.30822478, 26.54284539, 10.67704907,
       10.52063533, 25.76077669, 10.71155349, 28.86259426, 21.32312342,
       10.45024914, 25.878087  , 16.21072072, 26.18309379, 29.19335621,
       21.37864815, 25.8155215 , 21.08850281, 28.94080113, 15.19612189,
       21.78532388, 26.33168685, 21.03453793, 26.5975902 , 21.2926206 ,
       10.97745685, 10.04357342, 15.9213553 , 21.19799243, 10.50039495,
       27.68072476, 28.60451159, 21.61326876, 10.12500197, 25.46184153,
       21.82442731, 21.26915854, 21.1127448 , 16.37495514, 10.42218808,
        8.08321026, 15.2508667 , 25.19593817, 16.33585171, 27.30533179,
       24.86746931, 27.73546957, 28.76321843, 26.31604547, 14.73470136,
       29.30055273, 25.93283181, 25.7199242 , 29.05029075, 20.95555113,
       21.30748205, 10.23449159, 25.80770082, 26.49592127, 28.78438739,
       27.38353866, 27.97791087, 16.32021033, 25.04734512, 21.4099309 ,
       28.65143571, 21.86353075, 20.7365719 , 10.75847762, 10.54409739,
       10.96181548, 20.63490297,  8.239624  , 28.00137293, 10.49257426,
       29.21452518, 15.08663227, 15.10227365, 10.72397319, 10.99309823,
       28.6592564 , 21.62891014, 25.61825527, 27.6572627 , 21.18235106,
       21.40211021, 29.31619411, 26.38643165, 16.38277583, 29.27156308,
       25.52440702, 21.23787579, 21.63673082, 27.50084896, 29.06593212,
        8.61501698, 29.06822522, 27.55559377, 10.15628472, 10.34858021,
       15.39945975, 21.54288258, 28.69053915, 10.41114571, 24.99260031,
       29.01348041, 15.22740464, 10.53167769, 25.72774489,  8.20834126,
       21.12760625, 20.48630991, 14.79726686, 28.57322884, 21.62108945,
       28.99554594, 21.19017174, 28.6615495 , 27.25840767, 26.00321799,
       29.24028033, 28.66707709, 16.06212766, 16.12469316,  8.32565156,
        8.56809286, 27.49302828, 26.16745242, 25.2350416 , 29.03464938,
       28.83131151, 27.70418683, 10.8914293 , 26.22219723, 10.73961456,
       28.58104953, 27.8371385 , 10.51603632, 10.52845601, 26.43335578,
       28.56540816, 21.033758  , 28.93527354, 25.39145534,  8.42732049,
       29.05258385, 20.97119251, 29.12849762, 10.57078113, 20.88516495,
       29.16760106, 29.1386114 , 28.67489777, 21.79314457])

In [53]:
model.predict([[1908,0,0,0,0,0,0,0,0,0,0,0,1]])

array([24.91439344])